<!-- The content below is only a placeholder and can be replaced. -->

<!-- The sidebar -->
<nav class="sidebar">
  <a class="active" href="#auth">Auth</a>
  <a href="#request">Request</a>
  <a href="#videos">Videos</a>
</nav>

<!-- Page content -->
<div class="content">
  <h1>stringr</h1>
  <br>
  <h4>A marketplace to bring together buyers and sellers of video footage
  </h4>
  <!-- <div> -->
  <!-- <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1> -->
  <!-- <div> -->
  <hr>
  <div id="auth">

    <h2>Authentication</h2>

    <div class="form-group">
      <label>Api Key</label>
      <input class="form-control" type="text" name="apiKey" [(ngModel)]="apiKey" />
      <small style="color: red" id="emailHelp" class="form-text">required - To receive an access token, please contact Stringr support - support@stringr.com</small>
    </div>

    <div class="form-group">
      <label>Domain</label>
      <input class="form-control" type="text" name="domain" [(ngModel)]="domain" />
      <small style="color: red" id="emailHelp" class="form-text">required- without trailing slash</small>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div id="request">
    <h2>Request</h2>
    <hr>
    <h5>Create Request</h5>
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" [(ngModel)]="requestSubject" />
      <small style="color: red" id="emailHelp" class="form-text">required - title of the request</small>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input class="form-control" type="text" [(ngModel)]="requestDescription" />
      <small style="color: red" id="emailHelp" class="form-text">required - request description e.g. "This video is for scientist"</small>
    </div>

    <div class="form-group">
      <label >Address</label>
      <input class="form-control" type="text" [(ngModel)]="requestAddress" />
      <small style="color: red" id="emailHelp" class="form-text">required</small>
    </div>

    <div class="form-group">
      <label>Category</label>
      <input class="form-control" type="text" [(ngModel)]="requestCategory" />
      <small style="color: red" id="emailHelp" class="form-text">required</small>
      <small id="emailHelp" class="form-text">Allowed categories: general, broll, crimeFireAccidents, communityEvent,
        pressConferenceInterview, protest,
        weather </small>
    </div>

    <div class="form-group">
      <label>Latitude</label>
      <input class="form-control" type="number" [(ngModel)]="requestLatitude" />
      <small style="color: red" id="emailHelp" class="form-text">required - user/device current Latitude </small>
    </div>

    <div class="form-group">
      <label>Longitude</label>
      <input class="form-control" type="number" [(ngModel)]="requestLongitude" />
      <small style="color: red" id="emailHelp" class="form-text">required - user/device current Longitude </small>
    </div>

    <div class="form-group">
      <label>Deadline</label>
      <input class="form-control" type="text" [(ngModel)]="requestDeadline" />
      <small style="color: red" id="emailHelp" class="form-text">required - format:
        2019-05-28T15:30:00+05:00</small>
    </div>

    <div class="form-group">
      <label>SubCustomerId</label>
      <input class="form-control" type="text" [(ngModel)]="requestSubCustomerId" />
      <small class="form-text">optional - ID of sub customer</small>
    </div>

    <div class="form-group">
      <label>SubUserId</label>
      <input class="form-control" type="text" [(ngModel)]="requestSubUserId" />
      <small class="form-text">optional - ID of sub user</small>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="requestIsLive" />
      <label>Live Video</label>
    </div>

    <div class="form-check">
      <input  type="checkbox" class="form-check-input" [(ngModel)]="requestStringPro" />
      <label>Stringr Pro</label>
    </div>
    <button class="btn btn-primary" (click)="createfootageRequest()">Create request</button>

    <div class="form-group" *ngIf="createRequestCurl">
      <label for="exampleFormControlTextarea2">Curl Request</label>
      <textarea style="background: black; color: white" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3">{{createRequestCurl}}</textarea>
    </div>

    <br>
    <hr>
    <h5>Get Request</h5>

    <div class="form-group">
      <label>Date</label>
      <input class="form-control" type="number" [(ngModel)]="getReqDate" />
      <small class="form-text">optional - Request date Allowed values: "YYYY-MM-DD", "2019-03-05"</small>
    </div>

    <div class="form-group">
      <label>SubCustomerId</label>
      <input class="form-control" type="number" [(ngModel)]="getReqSubCustomerId" />
      <small class="form-text">optional - ID of sub customer</small>
    </div>

    <div class="form-group">
      <label>SubUserId</label>
      <input class="form-control" type="text" [(ngModel)]="getReqSubUserId" />
      <small class="form-text">optional - ID of sub user</small>
    </div>

    <button class="btn btn-primary" (click)="getfootageRequests()">Get requests</button>

    <div class="form-group" *ngIf="getRequestCurl">
      <label for="exampleFormControlTextarea2">Curl Request</label>
      <textarea style="background: black; color: white" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3">{{getRequestCurl}}</textarea>
    </div>

    <div id="_footageRequests" style="overflow-y: scroll">
      <br>
      <table class="table thead-light">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
            <th scope="col">Requestor</th>
            <th scope="col">More Info</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let req of footageRequests">
            <td>{{req.title}}</td>
            <td>{{req.details}}</td>
            <td>{{req.requestor}}</td>
            <td> <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="setCurrentVideoJson(req)">
                JSON
              </button>
            <td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




  <br>
  <hr>
  <br>

  <div id="videos" style="">
    <h2>Videos</h2>

    <div class="form-group">
      <label>search</label>
      <input class="form-control" type="text" name="domain" [(ngModel)]="videosSearch" />
      <small id="emailHelp" class="form-text">optional- Search term to search in videos,
        search includes: video - title, date, description, tags, location </small>
    </div>

    <div class="form-group">
      <label>requestId</label>
      <input class="form-control" type="text" name="apiKey" [(ngModel)]="videosRequestId" />
      <small id="emailHelp" class="form-text">optional- ID of the footage request</small>
    </div>

    <div class="form-group">
      <label>From Date</label>
      <input class="form-control" type="text" name="apiKey" [(ngModel)]="videosfromDate" />
      <small id="emailHelp" class="form-text">optional - Starting date/time of the video
        format:2019-05-08</small>
    </div>

    <div class="form-group">
      <label>To Date</label>
      <input class="form-control" type="text" name="domain" [(ngModel)]="videostoDate" />
      <small id="emailHelp" class="form-text">optional - Ending date/time of the video
          format:2019-05-28
      </small>
    </div>

    <div class="form-check">
      <input  type="checkbox" class="form-check-input" [(ngModel)]="vidPackagedContent" />
      <label>Packaged Content</label>
    </div>

    <div class="form-check">
      <input  type="checkbox" class="form-check-input" [(ngModel)]="vidEditedContent" />
      <label>Edit Content</label>
    </div>

    <div class="form-check">
      <input  type="checkbox" class="form-check-input" [(ngModel)]="vidRawVideos" />
      <label>Raw Videos</label>
    </div>
    <br>

    <div class="form-group row">
      <div class="col-xs-2">
        <label for="ex1">Page Number</label>
        <input class="form-control" [(ngModel)]="pageNumber" type="text">
      </div>
      <div class="col-xs-2">
        <label for="ex2">Page Size</label>
        <input class="form-control" [(ngModel)]="pageSize" type="text">
      </div>
    </div>


    <button class="btn btn-primary" (click)="getVideos()">Search Videos</button>
    <div class="form-group" *ngIf="getVideoCurl">
      <label for="exampleFormControlTextarea2">Curl Request</label>
      <textarea style="background: black; color: white" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3">{{getVideoCurl}}</textarea>
    </div>
    <br>
    <br>
    <div *ngFor="let vid of videos" style="display: inline-block;height: 300px;width: 400px">


      <app-live *ngIf="vid.isLiveStream" ids="{{vid._id}}" url="{{vid.liveStream.outgoingUrlWSS}}"></app-live>

      <video *ngIf="!vid.isLiveStream && vid.type === 'video'" style="background-image: url('/assets/images/live.jpg'); background-size: cover; height: 180px; width: 320px;"
        controls controlsList="nodownload">
        <source *ngIf="vid.UploadObj.length" src="{{vid.UploadObj[0].url}}" type="video/mp4">
        <source *ngIf="vid.UploadObj.length" src="{{vid.UploadObj[0].hdurl}}" type="video/ogg">
        Your browser does not support the video tag.
      </video>
      <br>
      {{vid.Description}}
      <br>
      <button (click)="purchaseVideo(vid._id)">Purchase</button> <span style="padding-left:5px"></span> <button *ngIf="!vid.isLiveStream"
        (click)="getDownloadVideo(vid._id)">Download</button>
      <!-- Button trigger modal -->
      <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="setCurrentVideoJson(vid)">
        JSON
      </button>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ currentVideoJson && currentVideoJson.Description }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre>{{currentVideoJson | json}}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>