<!-- The content below is only a placeholder and can be replaced. -->

<!-- The sidebar -->
<nav class="sidebar">
  <a class="active" href="#auth">Auth</a>
  <a href="#request">Request</a>
  <a href="#videos">Videos</a>
</nav>

<!-- Page content -->
<div class="content">
  <h1>stringr</h1>
  <br>
  <h4>A marketplace to bring together buyers and sellers of video footage
    </h4>
<!-- <div> -->
  <!-- <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1> -->
  <!-- <div> -->
    <hr>
    <div id="auth">

      <h2>Authentication</h2>

      <div class="form-group">
        <label for="exampleInputEmail1">Access Token</label>
        <input class="form-control" type="text" name="accesstoken" [(ngModel)]="accesstoken" />
        <small style="color: red" id="emailHelp" class="form-text">required</small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Domain</label>
        <input class="form-control" type="text" name="domain" [(ngModel)]="domain" />
        <small style="color: red" id="emailHelp" class="form-text">required-without trailing slash</small>
      </div>
    </div>

    <br>
    <hr>
    <br>
    
    <div id="request">
      <h2>Request</h2>

      <div class="form-group">
        <label for="exampleInputEmail1">Subject</label>
        <input class="form-control" type="text" [(ngModel)]="requestSubject" />
        <small style="color: red" id="emailHelp" class="form-text">required</small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <input class="form-control" type="text" [(ngModel)]="requestDescription" />
        <small style="color: red" id="emailHelp" class="form-text">required</small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Address</label>
        <input class="form-control" type="text" [(ngModel)]="requestAddress" />
        <small style="color: red" id="emailHelp" class="form-text">required</small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <input class="form-control" type="text" [(ngModel)]="requestCategory" />
        <small style="color: red" id="emailHelp" class="form-text">required</small>
        <small id="emailHelp" class="form-text">Allowed categories: general, broll, crimeFireAccidents, communityEvent, pressConferenceInterview, protest,
            weather </small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Latitude</label>
        <input class="form-control" type="number" [(ngModel)]="requestLatitude" />
        <small style="color: red" id="emailHelp" class="form-text">required</small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Longitude</label>
        <input class="form-control" type="number" [(ngModel)]="requestLongitude" />
        <small style="color: red" id="emailHelp" class="form-text">required</small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Deadline</label>
        <input class="form-control" type="text" [(ngModel)]="requestDeadline" />
        <small style="color: red" id="emailHelp" class="form-text">required - format:
            2019-05-28T15:30:00+05:00</small>
      </div>

      <!-- Subject: <input class="form-control" type="text" [(ngModel)]="requestSubject" /> <span><i>required</i></span> <br>
      Description: <input class="form-control" type="text" [(ngModel)]="requestDescription" /> <span><i>required</i></span><br>
      address: <input class="form-control" type="text" [(ngModel)]="requestAddress" /> <span><i>required</i></span> <br>
      category: <input class="form-control" type="text" [(ngModel)]="requestCategory" /> <span><i>required</i></span> <br>
      latitude: <input class="form-control" type="number" [(ngModel)]="requestLatitude" /> <span><i>required</i></span> <br>
      longitude: <input class="form-control" type="number" [(ngModel)]="requestLongitude" /> <span><i>required</i></span> <br>
      <span>Allowed categories: general, broll, crimeFireAccidents, communityEvent, pressConferenceInterview, protest,
        weather </span>
      <br>
      deadline: <input class="form-control" type="text" [(ngModel)]="requestDeadline" /> <span><i>required - format:
          2019-05-28T15:30:00+05:00 </i></span> <br> -->

      <button class="btn btn-primary" (click)="createfootageRequest()">Create request</button>
    </div>

    <br>
    <hr>
    <br>

    <div id="videos" style="">
      <h2>Videos</h2>
      
      <div class="form-group">
        <label for="exampleInputEmail1">search</label>
        <input class="form-control" type="text" name="domain" [(ngModel)]="videosSearch" />
        <small id="emailHelp" class="form-text">optional- Search term to search in videos</small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">requestId</label>
        <input class="form-control" type="text" name="accesstoken" [(ngModel)]="videosRequestId" />
        <small id="emailHelp" class="form-text">optional- ID of the footage request</small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">From Date</label>
        <input class="form-control" type="text" name="accesstoken" [(ngModel)]="videosfromDate" />
        <small id="emailHelp" class="form-text">optional - Starting date/time of the video</small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">To Date</label>
        <input class="form-control" type="text" name="domain" [(ngModel)]="videostoDate" />
        <small id="emailHelp" class="form-text">optional - Ending date/time of the video</small>
      </div>

      <br>
      <button class="btn btn-primary" (click)="getVideos()">Search Videos</button>
      <br>
      <br>
      <div *ngFor="let vid of videos" style="display: inline-block;height: 300px;width: 400px">


        <app-live *ngIf="vid.isLiveStream" ids="{{vid._id}}" url="{{vid.liveStream.outgoingUrlWSS}}"></app-live>

        <video *ngIf="!vid.isLiveStream && vid.type === 'video'" style="background-image: url('/assets/images/live.jpg'); background-size: cover; height: 180px; width: 320px;"
          controls controlsList="nodownload">
          <source *ngIf="vid.UploadObj.length" src="{{vid.UploadObj[0].url}}" type="video/mp4">
          <source *ngIf="vid.UploadObj.length" src="{{vid.UploadObj[0].hdurl}}" type="video/ogg">
          Your browser does not support the video tag.
        </video>
        <br>
        {{vid.Description}}
        <br>
        <button (click)="purchaseVideo(vid._id)">Purshased</button> <span style="padding-left:5px"></span> <button *ngIf="!vid.isLiveStream" (click)="getDownloadVideo(vid._id)">Download</button>
          <!-- Button trigger modal -->
        <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="setCurrentVideoJson(vid)">
            JSON
          </button>
      </div>
    </div>


    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{currentVideoJson.Description}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <pre>{{currentVideoJson | json}}</pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
</div>

<router-outlet></router-outlet>
